<form class="form-horizontal">
	<p>Extension Process</p>
	<div class="col-xs-12">
		<div class="form-group">
			<label for="mandateId"> Mandate Id </label> <input
				class="form-control" name="mandateId" type="text" required
				ng-model="mandate.id" readonly>
		</div>
		<div class="form-group">
			<label for="businessOwner"> Business owner </label> <input
				class="form-control" name="businessOwner" required type="text"
				ng-model="mandate.businessOwnerUsername" readonly>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="form-group">
			<label for="directedBy"> Directed by </label> <input
				class="form-control" name="directedBy" type="text"
				ng-model="mandate.directedBy" readonly>
		</div>
		<div class="form-group">
			<label for="generalNotes"> General notes </label> <input
				class="form-control" name="generalNotes" type="text"
				ng-model="mandate.generalNotes" readonly>
		</div>
	</div>	

	<script cam-script type="text/form-script">
        camForm.on('form-loaded', function() {
  			// fetch the variable named 'mandateJson' used for reading
  			camForm.variableManager.fetchVariable('mandateJson');
  			// fetch the variable named 'updatedMandateJson'
  			camForm.variableManager.fetchVariable('updatedMandateJson');
		});

		camForm.on('variables-fetched', function() {
  			// after the variables are fetched, bind the value of mandateJson to a angular
  			// scope value such that the form can work on it 
			$scope.mandate = JSON.parse(camForm.variableManager.variable('mandateJson').value);
		});

		camForm.on('variables-restored', function() {
  			// after the variables are fetched, bind the value of mandateJson to a angular
  			// scope value such that the form can work on it 
			$scope.mandate = JSON.parse(camForm.variableManager.variable('mandateJson').value);
		});

    	camForm.on('submit', function() {
      		// this callback is executed when the form is submitted, *before* the submit request to
      		// the server is executed
			camForm.variableManager.variableValue('updatedMandateJson', JSON.stringify($scope.mandate));
    	});
    </script>
</form>
